[submodule "support/qunit"]
	path = support/qunit
	url = https://github.com/jquery/qunit.git
[submodule "deps/node-localStorage"]
	path = deps/node-localStorage
	url = https://github.com/coolaj86/node-localStorage.git
